/* цвет основного текста #757575 серый*/
/* вторичный цвет текста #212121 черный */
/* белый #FFFFFF */
/* цвет акцента #2196F3 голубой */
/* цвет почты и тел в футере  rgba(255, 255, 255, 0.6); */

:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
  /* Colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --nav-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --background-color-second-white: #f5f5f5;
  --background-top-footter-color: #2f303a;
  --background-color-buttom: #f5f4fa;
  --addres-color-buttom: rgba(255, 255, 255, 0.6);

  --primary-icon-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
/* RESET */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex {
  display: flex;
  height: 80px;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Header */

.page-header {
  color: var(--primary-text-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--nav-color);
  font-family: var(--second-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo.white {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.web {
  color: var(--accent-color);
  font-family: var(--second-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

/* Header Site nav */
.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  position: relative;
  display: flex;
  margin-left: 93px;
}
.nav-list .item {
  margin-right: 50px;
}
.nav-list .item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
}
.nav-link .current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  background-color: var(--accent-color);
  position: absolute;
  transform: translateY(28px);
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  top: 15px;
  left: 0;
  border-radius: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}
.contacts-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.icon-header {
  fill: currentColor;
}

/* Hero section */
.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img/hero-bcg.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-family: var(--main-font);

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
/* Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}

/* Features */
.features {
  display: flex;
  justify-content: space-between;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--background-color-buttom);

  margin-bottom: 30px;
}

.features .list + .list {
  margin-left: 30px;
}

.features .list {
  width: 270px;
}
.features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-text {
  font-size: 14px;
  line-height: calc(24 / 16);
  letter-spacing: 0.03em;
}

/* Work/Чим ми займаємося, 3 images */
.work {
  padding-top: 0;
}
.work-thumb {
  position: relative;
  overflow: hidden;
}
.work-img {
  display: flex;
  justify-content: space-between;
}
.work-label {
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.work-title,
.team-title,
.clients-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}

/* Our team */
.team {
  background-color: var(--background-color-buttom);
  text-align: center;
}
.team-item {
  display: flex;
  justify-content: space-between;
}
.team-card {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item .list + .list {
  margin-left: 30px;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 10px;
}
.team-profession {
  color: var(--primary-text-color);
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
  margin-bottom: 16px;
}
/* links to social networks */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  background-color: var(--primary-white-color);
  color: var(--primary-icon-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  /*  */
}
.socials-icon {
  fill: currentColor;
}
/* Clients */
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  color: var(--primary-icon-color);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: 170px;
  height: 92px;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}
/* Footer */

.footer {
  background-color: var(--background-top-footter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.flex-footer {
  display: flex;
  align-items: baseline;
}
.addres-container {
  width: 231px;
}
.addres {
  font-style: normal;
  margin-top: 20px;
}

.addres-link-map {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.addres-mail,
.addres-tel {
  margin-top: 9px;
}
.addres-link {
  color: var(--addres-color-buttom);
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.addres-link-map:hover,
.addres-link-map:focus {
  color: var(--accent-color);
}
.addres-link:hover,
.addres-link:focus {
  color: var(--accent-color);
}

.footer-social-title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  align-items: baseline;
  margin-left: 70px;
}
.social {
  display: flex;
  gap: 10px;
}
.social-link {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.social-icon {
  fill: var(--primary-white-color);
}

/* PORTFOLIO MAIN */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.item-btn + .item-btn {
  margin-left: 8px;
}
.filter-button {
  color: var(--title-text-color);
  background-color: var(--background-color-buttom);

  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.logo.white {
  color: var(--primary-white-color);
}
.projects-list.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* Сетка для проэктов */

.project-card {
  background-color: var(--primary-white-color);
  width: calc((100% - 15 * 2) / 3);
}

.projects-item {
  display: block;
  text-decoration: none;
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
